/* ************* G E N E R A L ************* */

/* Hide scrollbar */
 ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

/* ************* A B O U T  S E C T I O N ************* */
.section-about {
  background-color: $color-grey-light-1;
  padding: 20rem 5rem;
  margin-top: -20vh;

  p {
    margin-bottom: 4rem;
  }

  @include respond(tab-land) {
    h2 {
      margin-top: 8rem;
    }
  }

  @include respond(tab-port) {
    padding: 20rem 0;
    margin-top: -15vh;
  }

  @include respond(phone) {
    padding: 20rem 2rem;
  }
  
}

/* ************* G A L L E R Y  S E C T I O N ************* */
.section-gallery {
  padding: 12rem 0 20rem 0;
  background-image: linear-gradient(
  to right bottom,
  rgba($color-white, 0.8),
  rgba($color-grey-light-1, 0.8)),
  url('../img/bg/Posible-1.jpg'); /* linear gradients allows you to put a mask over the image*/
  background-size: cover; /* cover size try to fit the width box the best it cans */

  transform: skewy(-7deg); //Seven degress effect.
  margin-top:  -10rem;

  & > * { //afect direct child.
    transform: skewY(7deg); //Seven degress neutralize effect.
  }

  @include respond(tab-port) {
    padding: 10rem 0;
    transform: skewy(-7deg); //Seven degress effect.
    & > * { //afect direct child.
      transform: skewY(7deg); //Seven degress neutralize effect.
    }
  }

  @include respond(phone) {
    padding: 12rem 2.5rem 20rem 2.5rem;
    h2 {
      margin-bottom: 1.5rem;
    }
  }
}
/* ************* C O N T A C T  S E C T I O N ************* */
.section-contact {
  background-color: $color-primary-dark;
  padding: 22rem 0 3rem 0;
  margin-top:  -10rem;

  /* Portrait tablet */
  @include respond(tab-port) {
    padding: 20rem 0 5rem 0;
  }
}


